:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Railway", sans-serif;

  --white-color: #FFFFFF;
  --navy-color: #2E2F42;
  --light-color: #F4F4FD;

  --primary-text-color: #434455;
  --primary-title-color: #2E2F42;

  --primary-color: #4D5AE5;
  --primary-active-color: #404BBF;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-title-color);
}

.page-header {
  background-color: var(--white-color);
}

.logo {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--primary-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo.light .logo-suffix {
  color: var(--navy-color);
}

.logo.dark .logo-suffix {
  color: var(--light-color);
}

.nav-menu-link {
  font-weight: 500;
  color: var(--navy-color);
  letter-spacing: 0.02em;
}

.nav-menu-link:hover,
.nav-menu-link:focus {
  color: var(--primary-active-color);
}

.contacts {
  font-style: normal;
}

.contact-link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--primary-active-color);
}

.page-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--white-color);
  letter-spacing: 0.02em;
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--primary-title-color);
  text-align: center;
  text-transform: capitalize;
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--primary-active-color);
}

.hero-section {
  background-color: var(--navy-color);
  color: var(--light-color);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.64px;
}

.features-section {
  background-color: var(--white-color);
}

.feature-title,
.team-member-title,
.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.feature-description,
.team-member-description,
.portfolio-description {
  font-size: 16px;
  line-height: 1.5;
}

.team-section {
  background-color: var(--light-color);
}

.team-member-item {
  background-color: var(--white-color);
  text-align: center;
}

.portfolio-section {
  background-color: var(--light-color);
}

.portfolio-item {
  background-color: var(--white-color);
  text-align: center;
}

.page-footer {
  background-color: var(--navy-color);
}

.footer-description {
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
}